<!-- <h3>View Contacts</h3>

<label>Enter User ID:</label>
<input type="number" [(ngModel)]="userId" placeholder="User ID" />

<button (click)="fetchContacts()">Fetch Contacts</button>


<table *ngIf="contacts.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of contacts">
      <td>{{ c.id }}</td>
      <td>{{ c.firstName }}</td>
      <td>{{ c.lastName }}</td>
      <td>{{ c.isActive ? 'Yes' : 'No' }}</td>
    
    </tr>
  </tbody>
</table>

<p *ngIf="contacts.length === 0">No contacts to display.</p> -->


<h3>View Contacts</h3>

<div>
  <label for="userId">Enter User ID:</label>
  <input id="userId" type="number" [(ngModel)]="userId" placeholder="User ID" />
  <button (click)="fetchContacts()">Fetch Contacts</button>
</div>

<table *ngIf="contacts.length > 0" border="1" cellpadding="5">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Active</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of contacts">
      <td>{{ c.id }}</td>
      <td>{{ c.firstName }}</td>
      <td>{{ c.lastName }}</td>
      <td>{{ c.isActive ? 'Yes' : 'No' }}</td>
      <td>
        <ng-container *ngIf="c.details.length > 0; else noDetails">
          <div *ngFor="let d of c.details">
            {{ d.type }}: {{ d.value }}
          </div>
        </ng-container>
        <ng-template #noDetails>
          <span>No details</span>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="contacts.length === 0">No contacts to display.</p>
